body {
    background-color: #eeeeee;
    font-family: realist, sans-serif;
    font-weight: 200;
    font-style: normal;
}

h1{ 
    color: #1c374d;
    font-family: realist, sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

h2{
    color: #396487;
    font-family: realistnarrow, sans-serif;
    font-weight: 700;
    font-style: italic;


}
