/*ALL APPLICABLE CSS*/

body {
    background-color: #1B1A1B;
    justify-content: center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    background-color: #1B1A1B;
    padding-bottom: 50px;
}

body p {
    font-family: ainslie-sans, sans-serif;
    color: #E6E7E8;
    font-size: 16px;
    font-weight: 400;
}

body h1 {
    font-family: ainslie-sans, sans-serif;
    color: #a7a7a7;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    margin-bottom: -10px
}

body h2 {
    font-family: ainslie-sans, sans-serif;
    color: #E6E7E8;
    font-size: 22px;
    font-weight: 200;
    margin-top: ;
    margin-bottom: 30px;

}

button {

    width: 100px;
    margin-bottom: 5px;
    justify-content: center;
    background-color: #9A9A9A;
    border-radius: 15px 15px 15px 15px;
    font-family: ainslie-sans, sans-serif;
    color: #F0FAFF;
    border: none;
    font-size: 14px;
    outline: none;
}

button:hover {
    background-color: #e6e7e8;
}

/*Nav Bar CSS*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
    margin-bottom: -20px;
    background-color: #1B1A1B;
    position: relative;
    box-sizing: border-box;
}


.sidepanel {
    width: 25%;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3C3A36;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidepanel.drawer {
    left: -25%;
}

.sidepanel-links {
    margin-top: 20px;
}

.sidepanel a {
    margin-top: 50px;
    margin-right: 5px;
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-family: ainslie-sans, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #9A9A9A;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #e6e7e8;

}

.sidepanel .text-under {
    color: #e6e7e8;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: ainslie-sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.sidepanel #learn-sidebar {
    color: #e6e7e8;
    font-family: ainslie-sans, sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 1px;
    left: 30px;


}

.sidepanel .closebtn {
    position: absolute;
    top: -15px;
    right: 25px;
    font-size: 40px;
}

.openbtn,
#about {
    font-family: ainslie-sans, sans-serif;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    background-color: #1B1A1B;
    color: #9A9A9A;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.openbtn:hover {
    background-color: #1B1A1B;
}

/* Sidebar Sourcing/Inspiration 

https://tympanus.net/Development/SidebarTransitions/# */

#about {
    height: 125.91px;
}

.openbtn:hover,
#about:hover,
#learn {
    color: #e6e7e8;
}

#camera-homescreen-icon {
    width: 160px;
    z-index: 1;
}

#camera-homescren-icon-hover {
    width: 160px;
    height: auto;
    position: absolute;
}

#camera-homescreen-icon:hover {
    opacity: 50%;
    z-index: 99;

}

nav a {
    display: block;
}

/*INDEX.HTML*/


.simulator-all {
    width: 500px;
    height: 85vh;
    margin-top: 50px;
    margin-left: 75px;

}

.simulator-all h3 {
    font-family: ainslie-sans, sans-serif;
    color: #a7a7a7;
    font-weight: 800;
    font-style: normal;

}

.simulator-all h4 {
    font-family: ainslie-sans, sans-serif;
    font-weight: 400;
    color: #E6E7E8;
}

.simulator-all p {
    margin-bottom: 40px;
}

.camera-simulator {
    position: relative;
}

#simulator-graphic {

    width: auto;
    height: 320px;
    border-radius: 5px 5px 5px 5px;
}

#simulator-graphic-explained p{
    font-size: 14px;
}



.camera-simulator {
    display: flex;
}

.camera-controls {
    display: flex;
    margin-left: 25px;
    margin-top: -30px
}

#refresh {
    width: 60px;
    justify-content: center;
    font-family: ainslie-sans, sans-serif;
    color: #9a9a9a;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    top: -78px;
    left: 750px
}

#refresh:hover {
    color: #F0FAFF;
}

#iso-button,
#shutter-button div {
    width: 150px;
}

#ap-button div {
    width: 140px;
}

.buttons-to-hide {
    display: flex;
}

#iso-button {
    display: block;
    text-align: center;
}

#ap-button {
    position: relative;
    display: block;
    text-align: center;
}

#shutter-button {
    position: relative;
    display: block;
    text-align: center;
}


#ap-button-iso2,
#ap-button-iso3 {
    position: absolute;
    top: 0px;
}

#sh-button-iso1-ap1,
#sh-button-iso2-ap1,
#sh-button-iso3-ap1,
#sh-button-iso1-ap2,
#sh-button-iso1-ap3,
#sh-button-iso2-ap2,
#sh-button-iso2-ap3,
#sh-button-iso3-ap2,
#sh-button-iso3-ap3 {
    position: absolute;
    top: 0px;
}


#ic-iso1-ap1-sh1,
#ic-iso2-ap1-sh1,
#ic-iso3-ap1-sh1,
#ic-iso1-ap2-sh1,
#ic-iso1-ap1-sh2,
#ic-iso1-ap1-sh3,
#ic-iso2-ap2-sh1,
#ic-iso2-ap2-sh2,
#ic-iso2-ap2-sh3,
#ic-iso2-ap1-sh2,
#ic-iso2-ap3-sh2,
#ic-iso1-ap2-sh2,
#ic-iso3-ap2-sh2,
#ic-iso3-ap3-sh1,
#ic-iso3-ap3-sh2,
#ic-iso3-ap3-sh3,
#ic-iso1-ap3-sh3,
#ic-iso1-ap3-sh1,
#ic-iso1-ap1-sh1,
#ic-iso2-ap3-sh3,
#ic-iso2-ap3-sh1,
#ic-iso3-ap1-sh3,
#ic-iso3-ap2-sh3,
#ic-iso1-ap2-sh3,
#ic-iso3-ap1-sh2,
#ic-iso3-ap2-sh1,
#ic-iso1-ap3-sh2,
#ic-iso2-ap1-sh3 {
    position: absolute;
    top: 420px;
    right: -220px;
    width: 70px;
    height: 73px;
    background-color: ;
    border-radius: 100px 100px 100px 100px;
    background-image: url(shutter-vector.svg)
}


.image-capture {
    position: relative;

}


#image-iso1-ap1-sh1,
#image-iso2-ap1-sh1,
#image-iso3-ap1-sh1,
#image-iso1-ap2-sh1,
#image-iso1-ap1-sh2,
#image-iso1-ap1-sh3,
#image-iso2-ap2-sh1,
#image-iso2-ap2-sh2,
#image-iso2-ap2-sh3,
#image-iso2-ap1-sh2,
#image-iso2-ap3-sh2,
#image-iso1-ap2-sh2,
#image-iso3-ap2-sh2,
#image-iso3-ap3-sh1,
#image-iso3-ap3-sh2,
#image-iso3-ap3-sh3,
#image-iso1-ap3-sh3,
#image-iso1-ap3-sh1,
#image-iso2-ap3-sh3,
#image-iso2-ap3-sh1,
#image-iso3-ap1-sh3,
#image-iso3-ap2-sh3,
#image-iso1-ap2-sh3,
#image-iso3-ap1-sh2,
#image-iso3-ap2-sh1,
#image-iso1-ap3-sh2,
#image-iso2-ap1-sh3,
#image-iso2-ap1-sh1 {

    height: 520px;
    width: auto;
    position: absolute;
    left: 550px;
    top: -670px;
    ;
    border-radius: 5px 5px 5px 5px;
}

#base-image {
    height: 520px;
    position: absolute;
    top: -670px;
    left: 550px;
    border-radius: 5px 5px 5px 5px;

}

.invisible {
    visibility: hidden;
}


.visible {
    /*    visibility: visible;*/
    visibility: visible;
}

/*ABOUT.HTML*/

.about-all {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around
}

.about-all h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about-info {
    width: 360px;
    margin-top: 0px;

}

#left-image,
#right-image {

    border-radius: 20px 20px 20px 20px;
    margin: 27px;
    width: 290px;
    

}

/*HISTORY DSLR HTML*/

.history-dslr-all {
    display: flex;
    position: relative;
}

.history-dslr-info {
    padding: 20px 40px 30px 50px;
    width: 600px;
}

#top-pic,
#middle-pic,
#bottom-pic {
    width: 300px;
    border-radius: 20px 20px 20px 20px;
}

#top-pic-caption,
#middle-pic-caption,
#bottom-pic-caption {
    font-size: 13px;
    width: 300px;
}

#top-pic {
    position: absolute;
    top: 60px;
}

#middle-pic {
    position: absolute;
    top: 350px;
}

#bottom-pic {
    position: absolute;
    top: 640px;
}

#top-pic-caption {
    position: absolute;
    top: 270px;

}

#middle-pic-caption {
    position: absolute;
    top: 555px;

}

#bottom-pic-caption {
    position: absolute;
    top: 850px;
}

#history-link {
    color: #9a9a9a
}

#history-link:hover {
    color: #F0Faff;
    ;
}

#history-sources p {
    font-size: 13px;
    margin-top: -20px;
}

/*ISO SH AP HTML*/

.iso-ap-sh-heading {

    width: 900px;
    margin-left: 50px;
    margin-top: 50px;
}

.iso-sh-ap-all {
    display: flex;
    position: relative;

}

.iso-sh-ap-info {
    padding: 20px 40px 30px 50px;
    width: 600px;
}

#iso-compare-pic,
#ap-compare-pic,
#sh-compare-pic {
    display: block;
    height: 270px;
    border-radius: 20px 20px 20px 20px;


}

#ap-compare-pic {
    position: absolute;
    top: 40px;
}

#sh-compare-pic {
    position: absolute;
    top: 370px;
}


#iso-compare-pic {
    position: absolute;
    top: 699px;
}

#ap-heading,
#sh-heading,
#iso-heading {
    font-family: ainslie-sans, sans-serif;
    color: #a7a7a7;
    margin-top: 50px;

}

#ap-heading {
    margin-top: -5px
}


/*FONTS
FreightText Pro Book

Ainslie Sans Norm Book

font-family: ainslie-sans, sans-serif;

font-weight: 400;

font-style: normal;


Ainslie Sans Norm Book Ital

font-family: ainslie-sans, sans-serif;

font-weight: 400;

font-style: italic;


Ainslie Sans Norm Demi Ital

font-family: ainslie-sans, sans-serif;

font-weight: 700;

font-style: italic;


Ainslie Sans Norm Demi

font-family: ainslie-sans, sans-serif;

font-weight: 700;

font-style: normal;


Ainslie Sans Cond Book Ital

font-family: ainslie-sans-condensed, sans-serif;

font-weight: 400;

font-style: italic;


Ainslie Sans Cond Book

font-family: ainslie-sans-condensed, sans-serif;

font-weight: 400;

font-style: normal;


Ainslie Sans Cond Demi

font-family: ainslie-sans-condensed, sans-serif;

font-weight: 700;

font-style: normal;


Ainslie Sans Cond Demi Ital

font-family: ainslie-sans-condensed, sans-serif;

font-weight: 700;

font-style: italic;


Ainslie Sans Ext Book Ital

font-family: ainslie-sans-extended, sans-serif;

font-weight: 400;

font-style: italic;


Ainslie Sans Ext Book

font-family: ainslie-sans-extended, sans-serif;

font-weight: 400;

font-style: normal;


Ainslie Sans Ext Demi

font-family: ainslie-sans-extended, sans-serif;

font-weight: 700;

font-style: normal;


Ainslie Sans Ext Demi Ital

font-family: ainslie-sans-extended, sans-serif;

font-weight: 700;

font-style: italic;
*/
