/*ALL APPLICABLE CSS*/

body {
    width: 1024px;
    height: 768px;
    background-color: #F0FAFF;
    justify-content: center;
}

body p {
    font-family: freight-text-pro, serif;
    font-size: 15px;
    font-weight: 400;
}

body h1 {
    font-family: realist, sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

body h2 {
    font-family: realistnarrow, sans-serif;
    font-size: 22px;
    font-weight:200;
    margin-top: 0;
    margin-bottom: 30px;
}

/*Nav Bar CSS*/
nav {
    width: 1024px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-left: -120px;
    background-color: #F0FAFF;
    position: relative;
}


.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F0FAFF;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidepanel-links{
    margin-top:20px;
}

.sidepanel a {
    margin-top: 40px;
    margin-right: 5px;
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-family: realist, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #5A798D;
    display: block;
    transition: 0.3s;
}

.sidepanel .text-under {
    color: #000000;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: realist, sans-serif;
    font-size: 14px;
}

.sidepanel a:hover {
    color: #BBD6E2;
}

.sidepanel #learn-sidebar {
    color: #49587B;
    font-family: realist, sans-serif;
    font-size: 40px;
    font-weight:800;
    position: absolute;
    top: 5px;
    left: 30px;


}

.sidepanel .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 40px;
}

.openbtn {
    font-family: realist, sans-serif;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    background-color: #F0FAFF;
    color: #49587B;
    padding: 10px 15px;
    margin-left: 60px;
    border: none;
}

.openbtn:hover {
    color: #BBD6E2;
}

/*https://tympanus.net/Development/SidebarTransitions/# */

#about {
    background-color: #F0FAFF;
    color:#49587B;
    outline: none;
    border: none;
    font-family: realist, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    position: absolute;
    top: 70px;
}

#learn,
#about:hover {
    color: #BBD6E2;
}

#camera-homescreen-icon {
    width: 160px;
}

#camera-homescreen-icon:hover {
    background-image: url(camera-homescreen-icon.svg);
}

nav a {
    display: block;
    margin-top: 10px;
}

/*INDEX.HTML*/

.container {
    justify-content: center;
}

.simulator-all {
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

.simulator-all h3{
    font-family: realist, sans-serif;
    
}

.simulator-all h4{
    font-family: realistnarrow, sans-serif;
    font-weight:200;
}

.camera-simulator {
    position: relative;
}

#simulator-graphic {
    background-color: #2D2D2D;
    width: 450px;
    height: 300px;
}

.camera-simulator {
    display: flex;
}

.camera-controls {
    display: flex;
}

.image-capture {
    background-color: cadetblue;
    height: 500px;
    width: 300px;
    position: relative;
    bottom: 600px;
    left: 670px;
}

/*ABOUT.HTML*/

.about-all {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around
}

.about-all h1{
    font-size:30px;
}

#about-info {
    width: 300px;
    height: 480px;
    margin-top: 50px;
    background-color: cadetblue
}

#images-here1,
#images-here2 {
    background-color: aqua;
    padding: 25px;
    width: 250px;
    height: 460px;
}

#images-here2 {
    background-color: aqua;
    width: 250px;
}

/*HISTORY DSLR HTML*/

.history-dslr-all {
    display: flex;
    position: relative;
}

.history-dslr-info {
    padding: 20px 40px 30px 50px;
    width: 600px;
}

#history-pic1 {
    background-color: darkcyan;
    height:220px;
    position: absolute;
    top:20px;
}

#history-pic2 {
    background-color: darkcyan;
    height:220px;
    position: absolute;
    top:270px;
}

/*ISO SH AP HTML*/

.iso-sh-ap-all {
    display: flex;
    position: relative;
}

.iso-sh-ap-info {
    padding: 20px 40px 30px 50px;
    width: 600px;
}

#iso-pic1 {
    background-color: darkcyan;
    height:220px;
    position: absolute;
    top:20px;
}

#iso-pic2 {
    background-color: darkcyan;
    height:220px;
    position: absolute;
    top:270px;
}

/*FONTS
FreightText Pro Book

font-family: freight-text-pro, serif;

font-weight: 400;

font-style: normal;


FreightText Pro Book Italic

font-family: freight-text-pro, serif;

font-weight: 400;

font-style: italic;


FreightText Pro Bold

font-family: freight-text-pro, serif;

font-weight: 700;

font-style: normal;


FreightText Pro Bold Italic

font-family: freight-text-pro, serif;

font-weight: 700;

font-style: italic;
*/
